@import "../../styles/mixins";
@import "../../styles/variables";

.aboutMainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: $third-color;
}

.animation {
  transition: opacity 1s;
  animation: appear 1s 1 alternate;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }

}

.aboutMainContainer h2 {
  color: white;
  font-family: $title-font;
  font-size: $title-size;
  margin: 3rem;
  @include section-title;
}