@import "../../styles/mixins";
@import "../../styles/variables";

.aboutMainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  // background-color: $secondary-color;
}

.aboutMainContainer h2 {
  color: white;
  font-family: $title-font;
  font-size: $title-size;
  margin: 3rem;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 2px 2px 10px #8B5E3C;
  background-color: $secondary-color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 3s;
}