@import '../../../styles/mixins';
@import '../../../styles/variables';


.ourHistoryContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
}

.ourHistoryContainer img {
  width: 500px;
  height: auto;
  border-radius: 25px;
  transition: transform 0.5s;
}

.ourHistoryContainer img:hover {
  transform: scale(1.1);
}

.ourHistoryContainerTexts {
  width: 50%;
}

.ourHistoryContainerTexts h3 {
  font-family: $title-font;
  font-size: $title-size;
}

.ourHistoryContainerTexts p {
  line-height: 30px;
  font-family: $text-font;
  font-size: $text-size;
}

@include medium() {
  .ourHistoryContainer {
    flex-direction: column;
  }

  .ourHistoryContainer img {
    width: 300px;
  }

  .ourHistoryContainerTexts {
    width: 90%;
  }
}