@import '../../../styles/mixins';
@import '../../../styles/variables';

.contactMainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contactMainContainer h2 {
      font-family: $title-font;
      font-size: $title-size;
      @include section-title;
}

.contactMethods {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
  padding: 2rem;
  width: max-content;
  height: 400px;
  background-color: $third-color;
  @include border-radius-div;
    padding: 1rem;
    color: black;
    box-shadow: 1px 8px 21px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 8px 21px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 8px 21px 0px rgba(0, 0, 0, 0.75);
    transition: border-radius 1s;
}

.contactMethods:hover {
  @include border-radius-div-effect;
}

.contactItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  row-gap: 1rem;
}

.contactItem a {
  font-family: $text-font;
  font-size: $text-size;
  text-decoration: none;
  color: $fourth-color;
  transition: all 1s;
}

.contactItem a:hover {
  transform: scale(1.1);
  color: $primary-color;
}

@include medium() {
  .contactMethods {
    width: max-content;
    word-wrap: break-word;
  }

  .contactItem {
    flex-direction: column;
  }
}

@include small() {
  .contactMethods {
    width: max-content;
    max-width: 300px;
  }

  .contactItem a {
    font-size: 1.2rem;
  }
}