// Texts
$title-font: 'Copperplate', 'Montserrat';
$text-font: 'Lato', sans-serif;

//Colors
$primary-color: #A20000;
$secondary-color: #D1A47D;
$third-color: #FFFFFF;
$fourth-color: #000000;

//Sizes
$title-size: 2rem;
$text-size: 1.5rem;