@import '../../styles/mixins';
@import '../../styles/variables';

.locationSectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.locationSectionContainer h2 {
      font-family: $title-font;
      font-size: $title-size;
      @include section-title;
}

.locationSectionContainer p {
  width: 80%;
  font-family: $text-font;
  font-size: $text-size;
}