@import '../../styles/mixins';
@import '../../styles/variables';

.mainContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: $third-color;
}