@import '../../styles/variables';

.contactSectionContainer {
  padding: 1rem;
  row-gap: 1rem;
  background-color: $fourth-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}