@import '../../../styles/mixins';
@import '../../../styles/variables';

.mySwiper {
  width: 80%;
  height: auto;
  transition: border-radius 1s;
  @include border-radius-img;
}

.mySwiper:hover {
  @include border-radius-img-effect;
}

.mySwiper img {
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  object-position: center;
}

.galleryMainContainer {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.galleryMainContainer h3 {
  text-align: center;
  font-family: $title-font;
  font-size: $title-size;
  @include sub-section-title;
}


@include medium() {
  .mySwiper {
    width: 90%;
  }

  .mySwiper img {
    height: 300px;
  }
}