@import '../../../styles/mixins';
@import '../../../styles/variables';

.hoursMainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hoursMainContainer h2 {
  font-family: $title-font;
  font-size: $title-size;
  @include section-title;
}

.hoursCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: 400px;
  background-color: $third-color;
  padding: 1rem;
  color: black;
  box-shadow: 1px 8px 21px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 8px 21px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 8px 21px 0px rgba(0, 0, 0, 0.75);
  @include border-radius-div;
}

.hoursCard:hover {
  @include border-radius-div-effect;
}

.hoursUnit h3 {
  font-family: $text-font;
  font-size: 2rem;
}

.hoursUnit p {
  font-family: $text-font;
  font-size: $text-size;
}

@include medium() {
  .hoursCard {
    width: 50%;
  }
}

@include small() {
  .hoursCard {
    width: 80%;

  }
}